<div class="move-pages">
    <div class="move-pages__button">
        <span [ngClass]="currentMovieStart <20 ? 'disable': ''" (click)="movePage(false)">Previus</span>
    </div>
    <div class="move-page__info">
        <span>Results {{currentMovieStart}} - {{currentMovieEnd > totalResults ?  totalResults : currentMovieEnd}} / <span class="move-pages__total-results">{{totalResults}}</span></span>
    </div>
    <div class="move-pages__button">
        <span [ngClass]="currentMovieEnd >= totalResults? 'disable' : ''" (click)="movePage(true)">Next</span>
    </div>
</div>