<div class="all-details-container">
    <p *ngIf="mouseIsHover" class="all-details-container__all-details-text">All Detailes</p>
</div>
<div class="movie-box" *ngIf="movie != undefined" (mouseenter)="mouseHover()" (mouseleave)="mouseLeave()" (click)="moveToMovieDetails()">
    <div>
        <img class="movie-box__img" [src]="movieBackdropPath" (error)="updateUrl($event)"> 
    </div>
    <div class="movie-box__information">
        <div>
            <p class="movie-box__release-date">{{movie.release_date | date :'yyyy'}}</p>
        </div>
        <div>
            <h6 class="movie-box__title">{{movie.title}}</h6>
        </div>
    </div>
   
   
   
</div>
