.img-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;

    img{
        width: 100%;
        transition: all .2s;
        &:hover{
            transform: scale(2.5);
        }
    }
    @media only screen and (max-width: 450px){
        grid-template-columns: 1fr 1fr;
       }    
}