<section class="overview-container">
    <div class="overview-container__content">
        <div class="overview-container__content__title">
            <h6>{{movie.title}}</h6>
        </div>
        <div class="overview-container__content__rating">
            <span class="rate">{{movie.vote_average}}</span>
            <span>/10</span>
        </div>
        <div class="overview-container__content__overview">
            <p>{{movie.overview}}</p>
        </div>
        <div >
            <button class="overview-container__content__btn">Watch</button>
        </div>
    </div>
    <div class="overview-container__img">
        <img src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}">
    </div>

    
</section>