@import '_variables';
.movie-tabs{
color: $font-color;
}

.tabs-container{
    &__tabs{
        display: flex;
        justify-content: space-around;
        font-size: 3rem;
        list-style: none;
        @media only screen and (max-width: 450px){
            font-size: 2rem;   
           }    
       
    }

    &__tab{
        cursor: pointer;
        padding: 2rem;
        :hover{
            color: $terniary-color;
        }
        @media only screen and (max-width:450px){
            
           }    
   
        
    }
}
.mobile-hide{
    @media only screen and (max-width: 450px){
        display: none;  
       }
}
.active{
    color: $terniary-color;
}