@import '_variables';
.list-component{
    text-align: left;
    margin: auto 8rem;
    color: $font-color;
    border-radius: 3%;
    &__title{
        font-size: 2.5rem;
        padding-top: 1.5rem;
        text-transform: uppercase;
        font-family: 'Dosis', sans-serif; 
        @media only screen and (max-width: 450px){
            font-size: 1.5rem;   
           }
    }
    @media only screen and (max-width: 450px){
        margin: auto 1rem;  
       }

}
.movie-list-container{
     display: flex;
     overflow: hidden;
     
     @media only screen and (max-width: 450px){
        overflow: auto; 
        width: 300px;
        margin: 3.8rem;
        position: relative;
       }
       @media only screen and (max-width: 391px){
        width: 262px;
        margin-left: 4.8rem;
       }
  

}
.cover{
    padding: 0px 30px;
    position: relative;
    @media only screen and (max-width: 450px){
        padding: 0;
       }
      
   
}
.button-box{
    height: 10%;
    svg{
      fill: $font-color;
    }
    
}

  .left {
    position: absolute;
    left: 0;
    width: 3rem;
    top: 42%;
    height: inherit;
    //transform: translateY(-50%);
  }
  .right {
    position: absolute;
    right: -1.3rem;
    width: 3rem;
    height: inherit;
    top: 48%;
    transform: translatey(-50%);
    @media only screen and (max-width: 450px){
      right: 0;
     }
  }
button{
    border: none;
    background-color: $terniary-color;
    &:hover{
        background-color: aliceblue;
    }
    
}