@import '_variables';
.list-component{
    text-align: left;
    margin: auto 8rem;
    color: $font-color;
    border-radius: 3%;
    &__title{
        font-size: 2.5rem;
        padding-top: 1.5rem;
        text-transform: uppercase;
        font-family: 'Dosis', sans-serif; 
        &:before {
          background: $terniary-color;
          border-radius: 4px;
          content: "";
          margin-left: -.75rem;
          align-self: flex-start;
          position: absolute;
          height: 2.7rem;
          width: 4px;
      }
        @media only screen and (max-width: 450px){
            font-size: 1.5rem;   
           }
    }
    @media only screen and (max-width: 450px){
        margin: auto 1rem;  
       }

}
.movie-list-container{
     display: flex;
     overflow: hidden;
     
     @media only screen and (max-width: 450px){
        overflow: auto; 
        width: 400px;
        position: relative;
       }
       @media only screen and (max-width: 391px){
        width: 262px;
        margin-left: 4.8rem;
       }
  

}
.cover{
    padding: 0px 30px;
    position: relative;
    @media only screen and (max-width: 450px){
        padding: 0;
       }
      
   
}
.button-box{
    height: 10%;

    svg{
      fill: $font-color;
    }
    @media only screen and (max-width: 450px){
      display: none;
 }
    
    
}

  .left {
    position: absolute;
    left: 4rem;
    width: 8rem;
    top: 42%;
    height: 8rem;
    border-radius: 50px;
    //transform: translateY(-50%);
  }
  .right {
    position: absolute;
    right: 2.5rem;
    width: 8rem;
    height: 8rem;
    top: 53%;
    border-radius: 50px;
    transform: translatey(-50%);
    @media only screen and (max-width: 450px){
      right: 0;
     }
  }
button{
    border: none;
    background-color: $terniary-color;
    cursor:grab;
    &:hover{
        background-color: aliceblue;
    }
    z-index: 1100;
}