<div class="list-component">
    <h3 class="list-component__title">{{listTitle}}</h3>
    <div class="cover">
        <div class="button-box">
            <button  class="left" (click)="scrollLeft()"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg></button>
        </div>
            <div class="movie-list-container" #listContent>
                <div *ngFor="let movie of moviesList" >
                    <app-movie-item  [movieId]="movie.id"></app-movie-item>
                </div>
            </div>
            <div class="button-box">
                <button class="right" (click)="scrollRight()"><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg></button> 
            </div>
    </div>
</div>

