@import '_variables';
.list-component{
    text-align: left;
    margin: auto 8rem;
    color: $font-color;
    &__title{
        font-size: 3.5rem;
        padding-top: 1.5rem;
        text-transform: uppercase;
        font-family: 'Caramel', cursive;
        @media only screen and (max-width: 700px){
            font-size: 2.5rem;   
           }
    }
    @media only screen and (max-width: 700px){
        margin: auto 2rem;  
       }
}
.movie-list-container{
     display: flex;
     overflow: hidden;
     
     @media only screen and (max-width: 700px){
        overflow: auto;   
       }

}
.cover{
    padding: 0px 30px;
    position: relative;
    @media only screen and (max-width: 700px){
        padding: 0;
       }
   
}
.button-box{
    height: 95%;
    @media only screen and (max-width: 700px){
        height: 100%;   
       }
}

  .left {
    position: absolute;
    left: 0;
    top: 0%;
    height: inherit;
    //transform: translateY(-50%);
  }
  .right {
    position: absolute;
    right: 0;
    height: inherit;
    top: 48%;
    transform: translatey(-50%);
  }
button{
    border: none;
    background-color: $terniary-color;
    &:hover{
        background-color: aliceblue;
    }
    @media only screen and (max-width: 700px){
        display: none;   
       }
}