@import '_variables';
.header{
   
    background-image: linear-gradient(to right, $primary-color, $secondary-color);
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
    &__logo{
        text-decoration: none;
        color: $font-color;
        font-size: 3.5rem;
        margin-left: 3%;

    }

    &__nav-bar{
        display: flex;
        //justify-content: space-around;
          
        font-size: 2.5rem;
        list-style: none;
        padding-left: 0;
        margin-bottom: 1rem;
        margin-right: 10%;
       
        
        li{
            margin-left: 2.5rem;
            a{
                text-decoration: none;    
                color: $font-color;   
            }
            :hover{
                color: $terniary-color;
                transform: scale(1.8);
            }
           

        }

    }
    @media only screen and (max-width: 700px){
        justify-content: center;  
       }

}