.header{
    display: flex;
    background-image: linear-gradient(to right, rgb(247, 19, 19), rgb(255, 127, 81));
    padding: 2.5rem;
    align-items: center;
    

    &__logo{
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__text{
            font-size: 3.5rem;
            margin-top: 4.5rem;
            margin-left: -1.5rem;
            font-family: 'Caramel', cursive;
            @media only screen and (max-width: 700px){
                font-size: 2.5rem;   
               }
        }
        &-popcorn{
            margin-left: 1rem;
            margin-top: -1.8rem;
            height: 70px;
            width: 100px;
        }
        &-stars{
            width: 120px;;
        }
    }
    @media only screen and (max-width: 700px){
        justify-content: center;  
       }

}