@import '_variables';
.header{
   
    background-image: linear-gradient(to right, $primary-color, $secondary-color);
   
    display: flex;
    justify-content: start;
    align-items: center;
    border: .1px solid #fff;
    padding: 3rem 0;
    
    
    
    &__logo{
        text-decoration: none;
        color: $font-color;
        font-size: 3.5rem;
        margin-left: 3%;
        @media only screen and (max-width: 900px){
            font-size: 2rem;
        }

    }
}