<div class="discover-container">
    <div class="discover-container__search-box">      
        <app-search-movie></app-search-movie>
    </div>
    <app-genres-list></app-genres-list>
    <app-movies-list [moviesList]="popularMovies.results" [listTitle]="'Popular Movies'"></app-movies-list>
    <app-movies-list [moviesList]="topRatedMovies.results" [listTitle]="'Top Rated'"></app-movies-list>
    <app-movies-list [moviesList]="kidsMovies.results" [listTitle]="'For Kids'"></app-movies-list>
    <app-movies-list [moviesList]="moviesReleasedThisYear.results" [listTitle]="'Released this year'"></app-movies-list>
</div>